{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}

<h1>Tva edit</h1>

{{ form(edit_form) }}

<ul class="record_actions">
	<li>
		<a href="{{ path('adminTva') }}">
			Back to the list
		</a>
	</li>
	<li>{{ form(delete_form)}}</li>
</ul>
{% endblock %}