{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}

<h1>Tva list</h1>

<table class="table table-striped table-hover">
	<thead>
	{% for entity in entities %}
		<tr>
			<th>Id</th>
			<th>Multiplicate</th>
			<th>Nom</th>
			<th>Valeur</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for entity in entities %}
		<tr>
			<td><a href="{{ path('adminTva_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td>{{ entity.multiplicate }}</td>
			<td>{{ entity.nom }}</td>
			<td>{{ entity.valeur }}</td>
			<td>
				<a href="{{ path('adminTva_show', {'id': entity.id })"><i class="icon-book"></i></a>
				<a href="{{ path('adminTva_edit', {'id': entity.id }) }}"><i class="icon-edit"></i></a>
				</li>
			</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<ul>
	<li>
		<a href="{{ path('adminTva_new') }}">
			Create a new entry
		</a>
	</li>
</ul>
{% endblock %}