{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}

<h1>Tva</h1>

<table class="record_properties">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ entity.id}}</td>
		</tr>
		<tr>
			<th>Multiplicate</th>
			<td>{{ entity.multiplicate }}</td>
		</tr>
		<tr>
			<th>Nom</th>
			<td>{{ entity.nom }}</td>
		</tr>
		<tr>
			<th>Valeur</th>
			<td>{{ entity.valeur }}</td>
		</tr>
	</tbody>
</table>

<ul class="record_actions">
	<li>
		<a href="{{ path('adminTva') }}">
			Back to the list
		</a>
	</li>
	<li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
