{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
	<h1>Commandes list</h1>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Reference</th>
				<th>Client</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for commande in commandes %}
			<tr>
				<td>{{ commande.date|date('Y-m-d H:i:s') }}</td>
				<td>{{ commande.reference }}</td>
				<td>{{ commande.utilisateur.username }}</td>

				<td>
					<a href="{{ path('adminShowFacture', { 'id' : commande.id}) }}" target="_blank"><i class="icon-book"></i></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endblock %}