{% block body -%}
	<h1>Commandes</h1>

	<table class="record_properties">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ entity.id }}</td>
			</tr>

			<tr>
				<th>Valider</th>
				<td> {{ entity.valider }}</td>
			</tr>

			<tr>
				<th>Date</th>
				<td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
			</tr>

			<tr>
				<th>Reference</th>
				<td>{{ entity.reference}}</td>
			</tr>
		</tbody>
	</table>

		<ul class="record_actions">
			<li>
				<a href="{{ path('adminCommandes') }}">
					Back to the list
				</a>
			</li>
			<li>
				<a href="{{ path('adminCommandes_edit', {'id': entity.id }) }}">
					Edit
				</a>
			</li>
			<li>{{ form(delete_form) }}</li>
		</ul>
		{% endblock %}