{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="container">
	<div class="row">

		<div class="span3">
			{% include '::modulesUsed/navigation.html.twig' %}
			{% if is_granted('IS_AUTHENTICATED_FULY') %}
				{% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig'%}
			{% else %}
				{% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
			{% endif %}
			{% render(controller('EcommerceBundle:Panier:menu')) %}
		</div>

		<div class="span9">
			{% if produits|length != 0 %}
				<ul class="thumbnails">
				{% for produit in produits %}
					<li class="span3">
						<div class="thumbnail">
							<img src="{{ asset(produit.image.AssetPath) }}" alt="{{ produit.image.name }}" width="300" height="150">
							<div class="caption">
								<h4>{{ produit.nom }}</h4>
								<p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
								<table>
									<tr>
										<td>
											<a class="btn btn-primary" href="{{ path('presentation', { 'id' : produit.id }) }}">
												Plus d'infos</a>
										</td>
										{% if panier[produit.id] is not defined %}
										<td>
											<a class="btn btn-success" href="{{ path('ajouter', {'id' : produit.id }) }}">Ajouter au panier</a>
											</td>
											{% endif %}
											</tr>
											</table>	
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>

				<div class="navigation">
					{{ knp_pagination_render(produits) }}
				</div>

			{% else %}
				Aucun produit
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
