<form action="{{ path('rechercheProduits') }}" method="POST" class="navbar-form form-search pull-rigth">
	{{ form_wodget(form.recherche) }}
	<button type="submit" class="btn">Rechercher</button>
		{{ form_widget(form) }}
</form>