{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
	<h1>Categories edit</h1>

	{{ form(edit_form) }}

		<ul class="record_actions">
	<li>
		<a href="{{ path('adminCategories) }}">
			Back to the list
		</a>
	</li>
	<li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}