{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
	<h1>Categories creation</h1>

	{{ form(form) }}

		<ul class="record_actions">
			<li>
				<a href="{{ path('adminCategories') }}">
					Back to the list
				</a>
			</li>
		</ul>
{% endblock %}