{%extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
	<h1>Categories</h1>

	<table class="record_properties">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ entity.id }}</td>
			</tr>

			<tr>
				<th>Nom</th>
				<td>{{ entity.nom }}</td>
			</tr>
		</tbody>
	</table>

		<ul class="record_actions">
			<li>
				<a href="{{ path('adminCategories') }}">
					Back to the list
				</a>
			</li>
			<li>
				<a href="{{ path('adminCategories_edit', { 'id': entity.id }) }}">
					Edit
				</a>
			</li>
			<li>{{ form(delete_form) }}</li>
		</ul>
		{% endblock %}