{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
	<h1>Produits list</h1>
	<table class="table table-striped table-hover">

		<thead>
			<tr>
				<th>Nom</th>
				<th>Prix</th>
				<th>Disponible</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
		{% for entity in entities %}
			<tr>
				<td>{{ entity.nom}}</td>
				<td>{{ entity.prix}}</td>
				<td>{{ entity.disponible}}</td>
				<td>
					<a href="{{ path('adminProduits_show', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<ul>
		<li>
			<a href="{{ path(adminProduits_new') }}">
				Create a new entry
			</a>
		</li>
	</ul>
	{% endblock %}
	