{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
	<h1>Produits creation</h1>

	<form action="{{ path('adminProduits_create') }}" method="POST" {{ form_enctype(form) }}>
	{{ form(form) }}
	</form>

	<ul class ="record_actions">
		<li>
			<a href="{{ path('adminProduits') }}">
				Back to the list
			</a>
		</li>
	</ul>
	{% endblock %}